:root {
  --mindful-green-500: #6CC24A;
  --white: #ffffff;
  --black: #000000;
  --font-family-headings: "Tenaga", "Helvetica", "Arial", "sans-serif";
  --font-family-base: "Myriad Pro", "Arial", "sans-serif";
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Light.otf') format("opentype"); /* Path to font file */
  font-weight: 400; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-LightItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 400; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Regular.otf') format("opentype"); /* Path to font file */
  font-weight: 500; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-RegularItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 500; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Condensed.otf') format("opentype"); /* Path to font file */
  font-weight: 600; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}


@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Bold.otf') format("opentype"); /* Path to font file */
  font-weight: 700; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-BoldItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 700; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

.template-article { color: var(--black); font-size: 20px; line-height: 32px; }
.template-article p,
.template-article ul,
.template-article li,
.template-article span,
.template-article a,
.template-article button { font-family: var(--font-family-base); }

.template-article h1,
.template-article h2,
.template-article h3,
.template-article h4,
.template-article h5,
.template-article h6 { font-family: var(--font-family-headings); font-weight: 700; }

.fuse-article-body { display: flex; flex-wrap: wrap; gap: 30px; }
.fuse-article-aside { width: 30%; }
.fuse-article-editor { width: calc(70% - 30px); color: #3F4443; }
.fuse-article-editor h1, 
.fuse-article-editor h2, 
.fuse-article-editor h3, 
.fuse-article-editor h4, 
.fuse-article-editor h5, 
.fuse-article-editor h6 { margin-top: 90px; color: #005DAA; }
.fuse-article-editor h1:first-child, 
.fuse-article-editor h2:first-child, 
.fuse-article-editor h3:first-child, 
.fuse-article-editor h4:first-child, 
.fuse-article-editor h5:first-child, 
.fuse-article-editor h6:first-child { margin-top: 0; }
.fuse-article-editor h2 { font-size: 36px; line-height: 44px; }
.fuse-article-editor h3 { font-size: 26px; line-height: 20px; font-weight: 600; }
.fuse-article-editor p { margin-top: 30px; }
.fuse-article-editor img { margin-top: 30px; display: block; border-radius: 20px; width: 100%; }

.fuse-article-stories { margin: 160px 0; }
.fuse-article-stories .stories-header h3 { font-size: 40px; font-weight: 700; line-height: 46px; color: #4C8D2B; }
.fuse-article-stories .stories-body { margin-top: 30px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 38px; }
.fuse-article-stories .story-card { color: var(--black); text-decoration: none;}
.fuse-article-stories .story-card img { display: block; margin-bottom: 16px; width: 100%; border-radius: 20px; }
.fuse-article-stories .story-card h4 { font-size: 32px; line-height: 36px; font-weight: 600; color: var(--black); }
.fuse-article-stories .story-card-time { display: flex; margin: 16px 0; color: rgba(0,0,0,.7); font-size: 16px; line-height: 20px;  font-weight: 600; }
.fuse-article-stories .story-card-time time { display: block; padding-right: 10px; border-right: 1px solid rgba(0,0,0,0.3); }
.fuse-article-stories .story-card-time span { display: block; padding-left: 10px; }

.fuse-widget-statistics { margin-top: 30px; display: grid; grid-template-columns: repeat(2, 1fr); gap: 40px; }
.fuse-widget-statistics .statistic-card { font-size: 82px; line-height: 65px; font-weight: 700; padding: 40px; border-radius: 20px; }
.fuse-widget-statistics .statistic-card.is-primary { color: var(--white); background: var(--mindful-green-500); }
.fuse-widget-statistics .statistic-card.is-secondary { color: #005DAA; background: #D9D9D9; }
.fuse-widget-statistics .statistic-card.is-secondary p { color: #3F4443; }

.fuse-widget-statistics .statistic-card p { margin-top: 32px; font-size: 20px; line-height: 30px; font-weight: 400; }

.fuse-widget-carousel {}
.fuse-widget-grid-gallery { margin-top: 30px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; }
.fuse-widget-grid-gallery figure { display: block; position: relative; }
.fuse-widget-grid-gallery figure img { margin: 0; }
.fuse-widget-grid-gallery figcaption { position: absolute; left: 20px; right: 20px; bottom: 20px; color: var(--white); font-size: 20px; font-weight: 700; line-height: 24px; }


.fuse-widget-accordion {}

@media (max-width: 1024px) {
  .fuse-widget-statistics { gap: 16px; }
  .fuse-widget-statistics .statistic-card { font-size: 48px; line-height: 56px; padding: 24px; }
  .fuse-widget-statistics .statistic-card p { margin-top: 8px; font-size: 16px; line-height: 24px; }

  .fuse-article-stories .stories-body { gap: 16px; }  
}

@media (max-width: 800px) {
  .fuse-article-aside { width: 100%; }
  .fuse-article-editor { width: 100%; }
  .fuse-widget-statistics { grid-template-columns: repeat(1, 1fr);  }

  .fuse-article-stories .stories-body { grid-template-columns: repeat(1, 1fr); }  
}