:root {
  --mindful-green-500: #6CC24A;
  --white: #ffffff;
  --black: #000000;
  --font-family-headings: "Tenaga", "Helvetica", "Arial", "sans-serif";
  --font-family-base: "Myriad Pro", "Arial", "sans-serif";
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Light.otf') format("opentype"); /* Path to font file */
  font-weight: 400; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-LightItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 400; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Regular.otf') format("opentype"); /* Path to font file */
  font-weight: 500; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-RegularItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 500; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Condensed.otf') format("opentype"); /* Path to font file */
  font-weight: 600; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}


@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Bold.otf') format("opentype"); /* Path to font file */
  font-weight: 700; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-BoldItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 700; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

.template-article { color: var(--black); font-size: 20px; line-height: 32px; }
.template-article p,
.template-article ul,
.template-article li,
.template-article span,
.template-article a,
.template-article button { font-family: var(--font-family-base); }

.template-article h1,
.template-article h2,
.template-article h3,
.template-article h4,
.template-article h5,
.template-article h6 { font-family: var(--font-family-headings); font-weight: 700; }

.template-article .visible-mobile { display: none; }
.template-article .visible-desktop { display: block; }

.template-article .owl-carousel { margin-top: 30px; }
.template-article .owl-stage-outer { border-radius: 20px; }
.template-article .owl-carousel img { margin-top: 0; border-radius: 0; }
.template-article .owl-carousel .owl-dots { display: flex; gap: 15px; justify-content: center; width: 100%; position: absolute; bottom: 30px; left: 0; }
.template-article .owl-carousel .owl-dots button { width: 15px; height: 15px; background: #D9D9D9; border-radius: 1000px; }
.template-article .owl-carousel .owl-dots button.active { background: var(--mindful-green-500); }
.template-article .owl-carousel .owl-nav { position: absolute; right: 0; bottom: 0; display: flex; gap: 15px; justify-content: flex-end; }
.template-article .owl-carousel button.owl-prev,
.template-article .owl-carousel button.owl-next { display: flex; justify-content: center; align-items: center; width: 42px; height: 42px; background: #005EAA; border-radius: 1000px; border: 1px solid #005EAA; }
.template-article .owl-carousel button.disabled { cursor: not-allowed; background: var(--white); opacity: .6; }
.template-article .owl-carousel button.disabled svg path { stroke: #005EAA; }
.template-article .owl-carousel button svg { width: 8px;}
.template-article .owl-carousel button svg path { stroke: var(--white); }
.template-article .owl-carousel button.owl-next { transform: rotate(180deg); }

.fuse-article-body { display: flex; flex-wrap: wrap; gap: 30px; }
.fuse-article-aside { width: 30%; }
.fuse-article-right { width: calc(70% - 30px); color: #3F4443; }
.fuse-article-right .fuse-article-footer { margin-top: 90px; }
.fuse-article-right .fuse-article-footer .btn-back-to-stories { display: flex; align-items: center; gap: 14px; font-size: 22px; font-weight: 600; color: var(--black); }

.fuse-article-editor h1, 
.fuse-article-editor h2, 
.fuse-article-editor h3, 
.fuse-article-editor h4, 
.fuse-article-editor h5, 
.fuse-article-editor h6 { margin-top: 90px; color: #005DAA; }
.fuse-article-editor h1:first-child, 
.fuse-article-editor h2:first-child, 
.fuse-article-editor h3:first-child, 
.fuse-article-editor h4:first-child, 
.fuse-article-editor h5:first-child, 
.fuse-article-editor h6:first-child { margin-top: 0; }
.fuse-article-editor h2 { font-size: 36px; line-height: 44px; }
.fuse-article-editor h3 { font-size: 26px; line-height: 20px; font-weight: 600; }
.fuse-article-editor p { margin-top: 30px; }
.fuse-article-editor img { margin-top: 30px; display: block; border-radius: 20px; width: 100%; }

.fuse-article-editor .panel-group { max-width: 710px; }
.fuse-article-editor .panel-group { margin-top: 30px; }
.fuse-article-editor .panel-group .panel-heading+.panel-collapse>.panel-body { border-top: 0; }
.fuse-article-editor .panel { margin: 0; border: 0; box-shadow: none; border-radius: 0; }
.fuse-article-editor .panel + .panel { margin: 0; }
.fuse-article-editor .panel-heading { padding: 0; border: 0; border-radius: 0; background: none; }
.fuse-article-editor .panel-title a { position: relative; display: block; padding: 20px 50px 20px 30px; font-size: 24px; font-weight: 600; transition: .3s; font-family: var(--font-family-base); border-left: 8px solid #9063CD;  color: #9063CD; text-decoration: none; }
.fuse-article-editor .panel-title a.collapsed { border-left: 8px solid rgba(187, 0, 255, 0.3); transition: .3s; }
.fuse-article-editor .panel-icon { position: absolute; right: 0; top: 20px; display: block; width: 30px; height: 30px; background: var(--black); border-radius: 1000px; }
.fuse-article-editor .panel-icon img { margin: 0; position: absolute; left: 50%; top: 50%; width: 16px; height: 16px; transform: translate(-50%, -50%); }
.fuse-article-editor .panel-icon img:first-child { display: block; }
.fuse-article-editor .panel-icon img:nth-child(2) { display: none; }
.fuse-article-editor .panel-title a.collapsed .panel-icon { background: #F3F4F8; }
.fuse-article-editor .panel-title a.collapsed .panel-icon img:first-child { display: none; }
.fuse-article-editor .panel-title a.collapsed .panel-icon img:nth-child(2) { display: block; }
.fuse-article-editor .panel-body { padding: 0 30px 40px; font-size: 18px; border: 0;  }
.fuse-article-editor .panel-collapse { border-left: 8px solid rgba(187, 0, 255, 0.3); transition: .3s; }
.fuse-article-editor .panel-collapse.in { border-left: 8px solid #9063CD; transition: .3s; }

.fuse-article-stories { padding: 160px 0; }
.fuse-article-stories .stories-header h3 { font-size: 40px; font-weight: 700; line-height: 46px; color: #4C8D2B; }
.fuse-article-stories .stories-body { margin-top: 30px; display: grid; grid-template-columns: repeat(3, 1fr); gap: 38px; }
.fuse-article-stories .story-card { color: var(--black); text-decoration: none;}
.fuse-article-stories .story-card img { display: block; margin-bottom: 16px; width: 100%; border-radius: 20px; }
.fuse-article-stories .story-card h4 { font-family: var(--font-family-base); font-size: 32px; line-height: 36px; font-weight: 600; color: var(--black); }
.fuse-article-stories .story-card-time { display: flex; margin: 16px 0; color: rgba(0,0,0,.7); font-size: 16px; line-height: 20px;  font-weight: 600; }
.fuse-article-stories .story-card-time time { display: block; padding-right: 10px; border-right: 1px solid rgba(0,0,0,0.3); }
.fuse-article-stories .story-card-time span { display: block; padding-left: 10px; }
.fuse-article-stories .story-card-thumbnail { position: relative; }
.fuse-article-stories .story-card-badge { position: absolute; right: 20px; bottom: 20px; display: inline-block; font-size: 12px; line-height: normal; padding: 8px 16px; color: var(--black); background: #97D695; border-radius: 1000px; }

.fuse-widget-statistics { margin-top: 30px; display: grid; grid-template-columns: repeat(2, 1fr); gap: 40px; }
.fuse-widget-statistics .statistic-card { font-size: 82px; line-height: 65px; font-weight: 700; padding: 40px; border-radius: 20px; }
.fuse-widget-statistics .statistic-card.is-primary { color: var(--white); background: var(--mindful-green-500); }
.fuse-widget-statistics .statistic-card.is-secondary { color: #005DAA; background: #D9D9D9; }
.fuse-widget-statistics .statistic-card.is-secondary p { color: #3F4443; }

.fuse-widget-statistics .statistic-card p { margin-top: 32px; font-size: 20px; line-height: 30px; font-weight: 400; }

.fuse-widget-carousel {}
.fuse-widget-grid-gallery { margin-top: 30px; display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px; }
.fuse-widget-grid-gallery figure { display: block; position: relative; }
.fuse-widget-grid-gallery figure img { margin: 0; }
.fuse-widget-grid-gallery figcaption { position: absolute; left: 20px; right: 20px; bottom: 20px; color: var(--white); font-size: 16px; font-weight: 700; line-height: 24px; }

.fuse-article-blockquotes { padding: 224px 0 0; }
.fuse-article-blockquotes .blockquote-body p { font-size: 38px; line-height: 46px; }
.fuse-article-blockquotes .owl-carousel { margin-top: 20px; }
.fuse-article-blockquotes .blockquote-footer { padding-right: 120px; display: flex; flex-wrap: wrap; align-items: center; gap: 12px; margin-top: 34px; padding-top: 34px; border-top: 1px solid #97D695; }
.fuse-article-blockquotes .blockquote-footer-img { width: 52px; height: 52px; border-radius: 1000px; overflow: hidden; }
.fuse-article-blockquotes .blockquote-author-name { font-weight: 700; font-size: 18px; line-height: normal; }
.fuse-article-blockquotes .blockquote-author-position { margin-top: 4px; font-size: 16px; line-height: normal; opacity: .6; }
.fuse-article-blockquotes .blockquote-footer-right { width: calc(100% - 64px); }
.fuse-article-blockquotes .owl-carousel .owl-nav { bottom: 6px; }

@media (max-width: 1024px) {
  .fuse-article-right .fuse-article-footer { margin-top: 56px; }
  .fuse-article-right .fuse-article-footer .btn-back-to-stories { font-size: 16px; }

  .fuse-article-editor p { font-size: 16px; line-height: 24px; }

  .fuse-article-editor .owl-carousel .owl-dots { gap: 8px; bottom: 16px; }
  .fuse-article-editor .owl-carousel .owl-dots button { width: 8px; height: 8px; }

  .fuse-article-editor .panel-title a { padding: 14px 60px 14px 20px; font-size: 20px; line-height: 26px; }
  .fuse-article-editor .panel-body { padding: 0 20px 20px; font-size: 16px; line-height: 24px; }
  .fuse-article-editor .panel-icon { top: 12px; right: 0; }

  .fuse-widget-grid-gallery { gap: 16px; }
  .fuse-widget-grid-gallery { grid-template-columns: repeat(2, 1fr); }
  .fuse-widget-grid-gallery figcaption { left: 16px; bottom: 16px; right: 16px; font-size: 16px; }

  .fuse-widget-statistics { gap: 16px; }
  .fuse-widget-statistics .statistic-card { font-size: 48px; line-height: 56px; padding: 24px; }
  .fuse-widget-statistics .statistic-card p { margin-top: 8px; font-size: 16px; line-height: 24px; }

  .fuse-article-blockquotes { padding: 150px 0; }
  .fuse-article-blockquotes .blockquote-body p { font-size: 26px; line-height: 32px; }
  .fuse-article-blockquotes .blockquotes-quote-img { width: 80px; }
  .fuse-article-blockquotes .blockquote-footer { padding-right: 0; }
  .fuse-article-blockquotes .owl-carousel .owl-nav { margin-top: 40px; position: static; }

  .fuse-article-stories { padding: 50px 0; }
  .fuse-article-stories .stories-header h3 { font-size: 28px; line-height: 42px; }
  .fuse-article-stories .stories-body { margin-top: 24px; gap: 16px; }  
  .fuse-article-stories .story-card h4 { font-size: 20px; line-height: 28px; }
}

@media (max-width: 800px) {
  .template-article .visible-mobile { display: block; }
  .template-article .visible-desktop { display: none; }

  .fuse-article-aside { width: 100%; }
  .fuse-article-right { width: 100%; }
  .fuse-widget-statistics { grid-template-columns: repeat(1, 1fr);  }

  .fuse-article-editor .owl-carousel .owl-dots { position: static; margin-top: 16px; }

  .fuse-article-stories { background: #F1F8FF; }
  .fuse-article-stories .story-card { overflow: hidden; border-radius: 16px; background: var(--white) ;}
  .fuse-article-stories .story-card img { margin: 0; border-radius: 0; }
  .fuse-article-stories .story-card .story-card-body { padding: 16px; display: flex; flex-direction: column-reverse; }
  .fuse-article-stories .stories-body { grid-template-columns: repeat(1, 1fr); }  
  .fuse-article-stories .story-card-badge { position: static; margin-bottom: 16px; }
  .fuse-article-stories .story-card-time { margin-bottom: 0; }
}