:root {
  --mindful-green-500: #6CC24A;
  --white: #ffffff;
  --black: #000000;
  --font-family-headings: "Tenaga", "Helvetica", "Arial", "sans-serif";
  --font-family-base: "Myriad Pro", "Arial", "sans-serif";
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Light.otf') format("opentype"); /* Path to font file */
  font-weight: 400; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-LightItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 400; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Regular.otf') format("opentype"); /* Path to font file */
  font-weight: 500; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-RegularItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 500; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Condensed.otf') format("opentype"); /* Path to font file */
  font-weight: 600; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}


@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-Bold.otf') format("opentype"); /* Path to font file */
  font-weight: 700; /* Style: normal, bold, etc. */
  font-style: normal;  /* Style: normal, italic */
}

@font-face {
  font-family: 'Tenaga'; /* Name for your font */
  src: url('./../../public/fonts/tenaga/Tenaga-BoldItalic.otf') format("opentype"); /* Path to font file */
  font-weight: 700; /* Style: normal, bold, etc. */
  font-style: italic;  /* Style: normal, italic */
}

.template-sustainability { color: var(--black); font-size: 20px; line-height: 32px; }
.template-sustainability p,
.template-sustainability ul,
.template-sustainability li,
.template-sustainability span,
.template-sustainability a,
.template-sustainability button { font-family: var(--font-family-base); }

.template-sustainability h1,
.template-sustainability h2,
.template-sustainability h3,
.template-sustainability h4,
.template-sustainability h5,
.template-sustainability h6 { font-family: var(--font-family-headings); font-weight: 700; }

.template-sustainability .visible-mobile { display: none; }
.template-sustainability .visible-desktop { display: block; }
.template-sustainability .btn { padding: 12px 32px; font-size: 20px; font-weight: 600; border: 0; border-radius: 1000px; }
.template-sustainability .btn-dark { color: var(--white); background: var(--black); }
.template-sustainability .btn-default { background: var(--white); }

.template-sustainability .badge { padding: 14px 24px; font-size: 20px; font-weight: 700; border-radius: 1000px; }
.template-sustainability .badge-primary { color: #4C8D2B; background: rgba(142, 221, 101, 0.3); }
.template-sustainability .badge-secondary { color: var(--white); background: rgba(142, 221, 101, 0.3); }

.fuse-sustainability-hero img { width: 100%; display: block; border-radius: 0 0 20px 20px; }
.fuse-sustainability-hero h2 { font-size: 80px; line-height: normal; }
.fuse-sustainability-hero .hero-content { display: flex; flex-wrap: wrap; gap: 20px; width: 100%; padding: 76px 0; align-items: center; }
.fuse-sustainability-hero .hero-header { width: calc(100% - 440px - 20px); }
.fuse-sustainability-hero .hero-header small { font-family: var(--font-family-headings); display: block; margin-bottom: 22px; font-size: 26px; font-weight: 700; line-height: 20px; color: var(--mindful-green-500); }
.fuse-sustainability-hero .hero-body { width: 440px; text-align: right; }
.fuse-sustainability-hero .btn { margin-top: 36px; }

.fuse-sustainability-video-leading { background: #FFFFFF; background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(142, 221, 101, .2) 100%);}
.fuse-sustainability-video .video { cursor: pointer; position: relative; overflow: hidden; background: var(--mindful-green-500); border-radius: 20px;  }
.fuse-sustainability-video .video .video-placeholder { display: block; width: 100%; }
.fuse-sustainability-video .video .icon-play { position: absolute; left: 50%; top: 50%; width: 120px; transform: translate(-50%, -50%); }

#videoModal .modal-header { padding: 0; border: 0; min-height: 0; }
#videoModal .close { color: var(--white); text-shadow: none; z-index: 1; position: absolute; right: -20px; top: -20px; width: 40px; height: 40px; background: var(--black); opacity: 100; border-radius: 1000px; }
#videoModal .modal-content { border: 0; }
#videoModal .modal-dialog { margin: 30px auto; max-width: 1170px; width: 100%; padding: 0 15px; }
#videoModal .modal-body { padding: 0; }
#videoModal .modal-body .iframe-video { position: relative; padding-top: 56.6%; width: 100%; }
#videoModal .modal-body .iframe-video iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block; border: 0; }

.fuse-sustainability-leading { padding: 94px 0; }
.fuse-sustainability-leading .badge { margin-bottom: 16px;}
.fuse-sustainability-leading h2 { font-size: 60px; line-height: 66px; }
.fuse-sustainability-leading blockquote p { font-size: 24px; line-height: 34px; }
.fuse-sustainability-leading blockquote .blockquote-body { color: #3F4443; }
.fuse-sustainability-leading blockquote .blockquote-author { display: flex; align-items: center; gap: 20px; margin-top: 20px; }
.fuse-sustainability-leading blockquote .blockquote-author-name { display: block; font-size: 28px; font-weight: 700; }
.fuse-sustainability-leading blockquote .blockquote-author-position { display: block; font-size: 22px; font-weight: 700; }
.fuse-sustainability-leading blockquote img { width: 86px; height: 86px; border-radius: 1000px; border: 4px solid var(--white); }
.fuse-sustainability-leading .leading-content { display: grid; grid-template-columns: repeat(2, 1fr); gap: 50px; align-items: center; }
.fuse-sustainability-leading .leading-header { grid-column: span 2; max-width: 70%; }
.fuse-sustainability-leading .btn { margin-top: 22px; }

.fuse-sustainability-landscape { padding: 80px 0; }
.fuse-sustainability-landscape .landscape-content { display: grid; grid-template-columns: repeat(2, 1fr); gap: 70px; }
.fuse-sustainability-landscape .landscape-figure { text-align: center; color: var(--white); }
.fuse-sustainability-landscape .landscape-figure .landscape-figure-inner { position: relative; }
.fuse-sustainability-landscape .landscape-figure img { display: block; width: 100%; border-radius: 28px;  }
.fuse-sustainability-landscape .landscape-figure span { display: block; position: absolute; top: 30px; left: 0; width: 100%; padding: 0 20px; }
.fuse-sustainability-landscape .landscape-figure h3 { position: absolute; bottom: 30px; left: 0; width: 100%; padding: 0 20px; }
.fuse-sustainability-landscape .landscape-right { display: flex; flex-direction: column; padding-top: 5%; justify-content: space-between; }
.fuse-sustainability-landscape .landscape-header h2 { margin-bottom: 14px; font-size: 40px; line-height: 48px; }
.fuse-sustainability-landscape .landscape-header p { font-size: 20px; line-height: 32px; color: rgba(63, 68, 67, 1); }
.fuse-sustainability-landscape .landscape-header .btn { margin-top: 24px; }
.fuse-sustainability-landscape .landscape-footer { margin-top: 30px; }
.fuse-sustainability-landscape .landscape-footer ul { display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px; }
.fuse-sustainability-landscape .landscape-footer li { position: relative; }
.fuse-sustainability-landscape .landscape-footer li p { position: absolute; left: 0; bottom: 0; font-weight: 600; font-size: 16px; padding: 16px; width: 100%; color: var(--white); }
.fuse-sustainability-landscape .landscape-footer img { display: block; width: 100%; }
.fuse-sustainability-landscape .landscape-footer > p { margin-top: 34px; font-size: 24px; line-height: 34px; color: rgba(63, 68, 67, 1); }

.fuse-sustainability-aspiration { padding: 70px 0; color: var(--white); background: #005EAA; background: linear-gradient(180deg,rgba(0, 94, 170, 1) 0%, rgba(0, 38, 68, 1) 100%); }
.fuse-sustainability-aspiration .badge { margin-bottom: 16px; }
.fuse-sustainability-aspiration h2 { font-size: 48px; font-weight: 700; line-height: 58px; }
.fuse-sustainability-aspiration .aspiration-header { max-width: 70%; }
.fuse-sustainability-aspiration .aspiration-body { margin-top: 24px; padding-left: 50%; display: grid; grid-template-columns: repeat(2, 1fr); gap: 50px; }
.fuse-sustainability-aspiration .aspiration-body img { width: 48px; height: 48px; object-fit: contain; }
.fuse-sustainability-aspiration .aspiration-body h3 { margin-top: 48px; font-size: 28px; font-weight: 700; line-height: 32px; }
.fuse-sustainability-aspiration .aspiration-body p { margin-top: 8px; color: rgba(255, 255, 255, 0.6); font-size: 20px; line-height: 32px; }
.fuse-sustainability-aspiration .aspiration-footer { margin-top: 84px; }
.fuse-sustainability-aspiration .aspiration-footer h4 { font-size: 26px; font-weight: 700; color: var(--mindful-green-500); }
.fuse-sustainability-aspiration .aspiration-footer ul { list-style: none; padding: 0; margin: 40px 0 0; display: grid; grid-template-columns: repeat(5, 1fr); gap: 16px; }
.fuse-sustainability-aspiration .aspiration-footer li { display: flex; align-items: center; gap: 14px; font-size: 14px; font-weight: 700; }
.fuse-sustainability-aspiration .aspiration-footer li img { width: 50px; }

.fuse-sustainability-pathway { padding: 110px 0 150px; }
.fuse-sustainability-pathway .pathway-header { max-width: 700px; }
.fuse-sustainability-pathway h2 { font-size: 48px; line-height: 58px; }
.fuse-sustainability-pathway p { margin-top: 24px; font-size: 20px; line-height: 32px; }
.fuse-sustainability-pathway .pathway-body { margin-top: 150px; padding-left: 20%; }
.fuse-sustainability-pathway .pathway-body ul { display: grid; grid-template-columns: repeat(3, 1fr); gap: 30px; }
.fuse-sustainability-pathway .pathway-body li:nth-child(2) { margin-top: -130px; }
.fuse-sustainability-pathway .pathway-body li:nth-child(3) { margin-top: -40px; }
.fuse-sustainability-pathway .pathway-body li:nth-child(2) span { margin-top: 160px; }
.fuse-sustainability-pathway .pathway-body li:nth-child(3) span { margin-top: 150px; }
.fuse-sustainability-pathway .pathway-body .pathway-card { display: flex; flex-direction: column; justify-content: space-between; padding: 40px 30px 30px; background: #D8ECD4; background-position: center; background-size: cover; border-radius: 20px; }
.fuse-sustainability-pathway .pathway-body .pathway-card.has-bgimg { color: var(--white); }
.fuse-sustainability-pathway .pathway-body li h3 { font-size: 20px; line-height: 1.2; }
.fuse-sustainability-pathway .pathway-body li span { display: block; margin-top: 120px; font-size: 60px; font-family: var(--font-family-headings); font-weight: 700; line-height: normal; }

.fuse-sustainability-practice { position: relative; }
.fuse-sustainability-practice .practice-content { gap: 40px; display: flex; flex-wrap: wrap; padding: 80px 60px; background: #E8F8E0; border-radius: 20px; }
.fuse-sustainability-practice .badge { position: absolute; top: 0; }
.fuse-sustainability-practice .practice-body { position: relative; display: flex; align-items: center; justify-content: space-between; width: calc(60% - 40px); }
.fuse-sustainability-practice .practice-body small { display: block; font-size: 26px; font-weight: 700; font-family: var(--font-family-headings); color: var(--mindful-green-500); }
.fuse-sustainability-practice .practice-body h2 { margin-top: 18px; font-size: 42px; line-height: 48px; }
.fuse-sustainability-practice .practice-body p { margin-top: 12px; font-size: 20px; line-height: 32px; color: #1A1A1A; }
.fuse-sustainability-practice .practice-img { overflow: hidden; width: 40%;  }
.fuse-sustainability-practice .practice-img img { display: block; width: 100%; border-radius: 20px; }
.fuse-sustainability-practice .practice-header { display: flex; gap: 30px; padding-top: 48px; }
.fuse-sustainability-practice .practice-header-content { width: calc(100% - 14px - 30px); }
.fuse-sustainability-practice .practice-header-bar { width: 14px; background: var(--white); border-radius: 1000px; }
.fuse-sustainability-practice .practice-header-bar span { display: block; width: 100%; height: 30%; background: #6CC24A; border-radius: 1000px; }

/* .fuse-sustainability-practice .scroll-step { height: 100vh; } */
/* .fuse-sustainability-practice .test {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #eaf9df;
} */

.fuse-sustainability-indicators { padding: 160px 0 60px; }
.fuse-sustainability-indicators .indicators-content { display: flex; flex-wrap: wrap; gap: 20px; }
.fuse-sustainability-indicators .indicators-header { width: 40%; }
.fuse-sustainability-indicators .indicators-body { width: calc(60% - 20px); color: #3F4443; }
.fuse-sustainability-indicators .indicators-body p { font-size: 36px; line-height: 44px; }
.fuse-sustainability-indicators .indicators-number { margin-top: 16px; }
.fuse-sustainability-indicators .indicators-number strong { display: block; color: #005BAC; font-size: 136px; font-weight: 700; line-height: 200px; }
.fuse-sustainability-indicators .indicators-number small { display: block; font-size: 20px; font-family: var(--font-family-headings); line-height: 20px; font-weight: 700; color: #9D9D9D; }
.fuse-sustainability-indicators h2 { font-size: 48px; font-weight: 700; line-height: 58px; }
.fuse-sustainability-indicators .indicators-footer { margin-top: 50px; font-size: 20px; line-height: 20px; color: #9D9D9D; }
.fuse-sustainability-indicators .indicators-footer ul { list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; align-items: center; gap: 25px; }
.fuse-sustainability-indicators .indicators-footer img { display: block; max-width: 100%; }
.fuse-sustainability-indicators .indicators-footer p { margin-top: 30px; font-family: var(--font-family-headings); font-weight: 700; font-size: 20px; line-height: 20px; }

.fuse-sustainability-reports { padding: 60px 0; }
.fuse-sustainability-reports h3 { margin-bottom: 30px; width: 50%; font-family: var(--font-family-base); font-size: 34px; font-weight: 600; }
.fuse-sustainability-reports .reports-content { display: flex; flex-direction: column; justify-content: space-between; min-height: 380px; padding: 50px 45px; color: var(--white); background: #004A3A; border-radius: 20px; }

.fuse-sustainability-framework { padding-bottom: 135px; }
.fuse-sustainability-framework img { display: block; max-width: 100%; width: 100%; }
.fuse-sustainability-framework h2 { font-size: 32px; line-height: 30px; font-weight: 700; }
.fuse-sustainability-framework .framework-content { padding: 50px 45px; border: 4px solid rgba(108, 194, 74, 0.6); border-radius: 20px; }
.fuse-sustainability-framework .framework-header { margin-bottom: 26px; }
.fuse-sustainability-framework .framework-body { display: flex; flex-wrap: wrap; gap: 34px; }
.fuse-sustainability-framework .framework-banner { width: calc(55% - 34px); }
.fuse-sustainability-framework .framework-banner-inner { position: relative; }
.fuse-sustainability-framework .framework-banner h2 { position: absolute; left: 0; right: 0; bottom: 20%; padding: 0 30px; }
.fuse-sustainability-framework .framework-banner img { border-radius: 20px; }
.fuse-sustainability-framework .framework-right { width: 45%; }
.fuse-sustainability-framework .framework-right h3 { margin-bottom: 20px; font-size: 28px; line-height: 34px; font-weight: 700; }
.fuse-sustainability-framework .framework-right p { font-size: 20px; line-height: 32px; color: rgba(63, 68, 67, 1); }
.fuse-sustainability-framework .framework-right .btn { margin-top: 26px; }
.fuse-sustainability-framework .framework-footer { margin-top: 76px; }
.fuse-sustainability-framework .framework-footer ul { display: grid; grid-template-columns: repeat(3, 1fr); gap: 18px; }
.fuse-sustainability-framework .framework-footer li { background: rgba(250, 249, 247, 0.8); border-radius: 34px; border: 3px solid rgba(0, 0, 0, 0.1); }
.fuse-sustainability-framework .framework-footer a { display: flex; gap: 12px; align-items: center; padding: 16px; color: var(--black); text-decoration: none; }
.fuse-sustainability-framework .framework-footer img { width: 60px; border-radius: 16px; border: 2px solid var(--white); }
.fuse-sustainability-framework .framework-footer p { font-size: 16px; line-height: 20px; font-weight: 700; }

@media (max-width: 1024px) {
  .template-sustainability { font-size: 16px; line-height: 24px; }
  .template-sustainability .btn { padding: 12px 24px; font-size: 18px; line-height: 24px; }
  .template-sustainability .badge { padding: 8px 16px; font-size: 16px; }
  
  .fuse-sustainability-hero h2 { font-size: 32px; line-height: 38px; }
  .fuse-sustainability-hero .hero-content { padding: 48px 0; gap: 20px; }
  .fuse-sustainability-hero .hero-header small { margin-bottom: 6px; font-size: 18px; line-height: 28px; }
  .fuse-sustainability-hero .btn { margin-top: 20px; }

  .fuse-sustainability-video .video .icon-play { width: 80px; }

  #videoModal .close { width: 34px; height: 34px; top: -17px; right: 10px; }

  .fuse-sustainability-leading { padding: 50px 0; }
  .fuse-sustainability-leading h2 { font-size: 28px; line-height: 36px; }
  .fuse-sustainability-leading .btn { margin-top: 18px; }
  .fuse-sustainability-leading .leading-header { margin-bottom: 8px; }
  .fuse-sustainability-leading .leading-content { gap: 0; }
  .fuse-sustainability-leading blockquote p { font-size: 18px; line-height: 30px; }
  .fuse-sustainability-leading blockquote img { width: 64px; height: 64px; }
  .fuse-sustainability-leading blockquote .blockquote-author { gap: 16px; }
  .fuse-sustainability-leading blockquote .blockquote-author-name { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-leading blockquote .blockquote-author-position { font-size: 14px; line-height: 20px; }

  .fuse-sustainability-practice .practice-body small { font-size: 18px; line-height: 28px; }
  .fuse-sustainability-practice .practice-body h2 { margin-top: 8px; font-size: 24px; line-height: 28px; }
  .fuse-sustainability-practice .practice-body p { margin-top: 8px; font-size: 16px; line-height: 24px; }
  .fuse-sustainability-practice .practice-content { gap: 20px; }
  .fuse-sustainability-practice .practice-body { width: calc(60% - 20px); }
  .fuse-sustainability-practice .practice-header { padding-top: 32px; gap: 16px; }
  .fuse-sustainability-practice .practice-header-content { width: calc(100% - 12px - 16px); }
  .fuse-sustainability-practice .practice-header-bar { width: 12px; }

  .fuse-sustainability-landscape { padding: 50px 0; }
  .fuse-sustainability-landscape .landscape-content { gap: 24px; }
  .fuse-sustainability-landscape .landscape-header h2 { font-size: 32px; line-height: 38px; }
  .fuse-sustainability-landscape .landscape-header p { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-landscape .landscape-figure h3 { font-size: 24px; line-height: 28px; }
  .fuse-sustainability-landscape .landscape-figure span { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-landscape .landscape-footer > p { font-size: 16px; line-height: 26px; }
  .fuse-sustainability-landscape .landscape-footer ul { gap: 16px; }
  .fuse-sustainability-landscape .landscape-footer li p { padding: 14px; font-size: 12px; line-height: normal; }

  .fuse-sustainability-aspiration { padding: 54px 0; }
  .fuse-sustainability-aspiration h2 { font-size: 28px; line-height: 36px; }
  .fuse-sustainability-aspiration .aspiration-body { margin-top: 48px; grid-template-columns: repeat(1, 1fr); gap: 40px; }
  .fuse-sustainability-aspiration .aspiration-body h3 { margin-top: 16px; font-size: 20px; line-height: 28px; }
  .fuse-sustainability-aspiration .aspiration-body p { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-aspiration .aspiration-footer { margin-top: 98px; }
  .fuse-sustainability-aspiration .aspiration-footer h4 { font-size: 18px; line-height: 20px; }
  .fuse-sustainability-aspiration .aspiration-footer ul { margin-top: 24px; grid-template-columns: repeat(1, 1fr); }

  .fuse-sustainability-pathway { padding: 46px 0; }
  .fuse-sustainability-pathway h2 { font-size: 28px; line-height: 36px; }
  .fuse-sustainability-pathway p { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-pathway .pathway-body { padding-left: 0; }
  .fuse-sustainability-pathway .pathway-body .pathway-card { padding: 24px; }
  .fuse-sustainability-pathway .pathway-body li h3 { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-pathway .pathway-body li span { font-size: 48px; line-height: 72px; }

  .fuse-sustainability-indicators { padding: 50px 0 0; }
  .fuse-sustainability-indicators h2 { font-size: 28px; line-height: 32px; }
  .fuse-sustainability-indicators .indicators-body p { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-indicators .indicators-number strong { font-size: 80px; line-height: 80px; }
  .fuse-sustainability-indicators .indicators-number small { margin-top: 8px; font-size: 16px; line-height: 24px; }
  .fuse-sustainability-indicators .indicators-footer { margin-top: 26px; }
  .fuse-sustainability-indicators .indicators-body p { margin-top: 16px; font-size: 16px; line-height: 24px; }

  .fuse-sustainability-reports { padding: 40px 0; }
  .fuse-sustainability-reports .reports-content { padding: 24px; }
  .fuse-sustainability-reports h3 { font-size: 24px; line-height: 28px; }

  .fuse-sustainability-framework { padding-bottom: 80px; }
  .fuse-sustainability-framework .framework-banner { width: 100%; }
  .fuse-sustainability-framework .framework-right { width: 100%; }
  .fuse-sustainability-framework .framework-right .btn { font-size: 14px; line-height: 24px; }
  .fuse-sustainability-framework .framework-content { padding: 20px; }
  .fuse-sustainability-framework .framework-body { gap: 16px; }
  .fuse-sustainability-framework .framework-right h3 { margin-bottom: 12px; font-size: 20px; line-height: 28px; }
  .fuse-sustainability-framework .framework-right p { font-size: 16px; line-height: 24px; }
  .fuse-sustainability-framework .framework-footer { margin-top: 28px; }
  .fuse-sustainability-framework .framework-footer ul { grid-template-columns: repeat(1, 1fr); gap: 16px; }
  .fuse-sustainability-framework .framework-footer img { border: 0; }
}

@media (max-width: 850px) {
  .template-sustainability .visible-mobile { display: block; }
  .template-sustainability .visible-desktop { display: none; }
  .template-sustainability .btn { width: 100%; }

  .fuse-sustainability-hero img { border-radius: 0; }
  .fuse-sustainability-hero .hero-banner { position: relative; }
  .fuse-sustainability-hero .hero-header { position: absolute; bottom: 0; width: 100%; padding: 0 0 30px; }
  .fuse-sustainability-hero .hero-content { padding: 0; gap: 0; }
  .fuse-sustainability-hero .hero-body { padding-top: 20px; width: 100%; text-align:left; }
  .fuse-sustainability-hero h2 { color: var(--white); }

  .fuse-sustainability-video { padding: 32px 0; }
  .fuse-sustainability-leading { padding: 30px 0 22px; }
  .fuse-sustainability-leading .leading-content { grid-template-columns: repeat(1, 1fr); }
  .fuse-sustainability-leading .leading-header { grid-column: span 1; max-width: none; }
  .fuse-sustainability-leading blockquote { margin-top: 72px; padding: 24px; background: var(--white); border-radius: 20px; box-shadow: 0 1px 3px -1px rgba(0,0,0,.4); }

  .fuse-sustainability-practice { background: #E8F8E0; }
  .fuse-sustainability-practice .container { padding: 50px 20px; }
  .fuse-sustainability-practice .badge { position: static; }
  .fuse-sustainability-practice .practice-content { display: block; padding: 0; }
  .fuse-sustainability-practice .practice-body { display: block; width: 100%; }
  .fuse-sustainability-practice .practice-img { margin-top: 32px; width: 100%; }

  .fuse-sustainability-landscape .landscape-content { grid-template-columns: repeat(1, 1fr);}
  .fuse-sustainability-landscape .landscape-right { padding: 0; }
  .fuse-sustainability-landscape .landscape-figure { padding: 70px 0; }
  .fuse-sustainability-landscape .landscape-figure span { margin-top: 32px; padding: 0; position: static; color: var(--black); }
  .fuse-sustainability-landscape .landscape-figure h3 { margin-top: 14px; padding: 0; position: static; color: rgba(0, 114, 206, 1); }
  .fuse-sustainability-landscape .landscape-footer { margin: 0; }
  .fuse-sustainability-landscape .landscape-footer ul { grid-template-columns: repeat(1, 1fr);}

  .fuse-sustainability-aspiration .aspiration-header { max-width: none; }
  .fuse-sustainability-aspiration .aspiration-body { padding-left: 0; }
  .fuse-sustainability-aspiration .aspiration-footer ul { grid-template-columns: repeat(1, 1fr); }
  .fuse-sustainability-aspiration .aspiration-footer li { padding: 16px; background: rgba(255,255,255,.1); border-radius: 15px; }

  .fuse-sustainability-pathway .pathway-body { margin-top: 32px; }
  .fuse-sustainability-pathway .pathway-body ul { grid-template-columns: repeat(1, 1fr); }
  .fuse-sustainability-pathway .pathway-body li:nth-child(2) { margin: 0; }
  .fuse-sustainability-pathway .pathway-body li:nth-child(3) { margin: 0; }
  .fuse-sustainability-pathway .pathway-body .pathway-card { flex-direction: column-reverse; }
  .fuse-sustainability-pathway .pathway-body li h3 { margin-top: 16px; }
  .fuse-sustainability-pathway .pathway-body li span { margin: 0; }

  .fuse-sustainability-indicators .indicators-header { width: 100%; }
  .fuse-sustainability-indicators .indicators-body { width: 100%; }
  .fuse-sustainability-indicators .indicators-footer ul { gap: 0; row-gap: 16px; }
  .fuse-sustainability-indicators .indicators-footer li { width: 50%; }
  .fuse-sustainability-indicators .indicators-footer li img { margin: 0 auto; }

  .fuse-sustainability-reports h3 { width: 100%; }

  .fuse-sustainability-framework .badge { margin-bottom: 20px; }
  .fuse-sustainability-framework .framework-header { margin-bottom: 30px; }
  .fuse-sustainability-framework h2 { font-size: 32px; line-height: 38px; }
  .fuse-sustainability-framework .framework-content { padding: 0; border: 0; }
  .fuse-sustainability-framework .framework-body { padding: 26px; border: 3px solid rgba(108, 194, 74, 0.6); border-radius: 20px; }
}